/* DiscardPile.css */
.discardPile {
  border: 2px solid #d35400;
  padding: 10px;
  margin: 20px auto;
  background-color: #f39c12;
  border-radius: 8px;
  max-width: 90%; /* Limit the width, adjust as necessary */
  overflow-x: auto; /* Allows horizontal scrolling if the content exceeds the width */
}

.discardPile h3 {
  color: #fff;
  text-align: center;
}

.cards {
  display: flex;
  flex-direction: row; /* Arrange cards in a horizontal row */
  gap: 10px;
}

.card {
  cursor: pointer;
  transition: transform 0.2s; /* Animation for slight raise effect on hover */
}

.card:hover {
  transform: translateY(-5px); /* Slight raise effect on hover */
}
